*
{
    margin: 0;
    padding: 0;

}

header{
    background-image: url('pinder_background.png');
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.wrapper {
    text-align: center;
    position: fixed;
    bottom: 320;
    right: 500;
    width: 300px;
}


.container{
  width:1025px;
}