{% extends 'base.html' %}
{% load static %}

        {% block title %}
                Details
        {% endblock %}

 {% block body %}
         <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                                    <div class="container">

                                    {% for candiate in candiates %}


                                      <p class="card-text">{{ candiate.candidate_text }}</p>
                                        <p class="card-text">{{ candiate.quote }}</p>

                                    {% endfor %}
                                    </div>


  {% endblock %}
