{% extends 'base.html' %}

{% load static %}

        {% block title %}
                Highscore
        {% endblock %}

         {% block body %}
          <link rel="stylesheet" href="{% static 'highscore.css' %}" type="text/css">

                    <h1>Highscore</h1>
                    Top Candidates

             {% for candiate in candiates %}
                 {{ candiate.candidate_text }} - {% for key,value in averages.items %}
                 {% if key == candiate.id %}{{ value }}{% endif %}
                {% endfor %}
                 <br>

             {% endfor %}






         {% endblock %}