<html>
{% extends 'base.html' %}

{% load static %}

        {% block title %}
                Highscore
        {% endblock %}

         {% block body %}
                <link rel="stylesheet" href="{% static 'highscore.css' %}" type="text/css"
                   xmlns="http://www.w3.org/1999/html">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


           <header>

               <section class="jumbotron text-center" style="background: transparent">
                    <div class="container">
                      <h1 class="jumbotron-heading">

                      </h1>
                        <p class="lead text-muted">Candidate Ranking</p>

                    </div>

             </section>
            <div class="w3-container">

                      <ul class="w3-ul w3-card-4" style="background-color: transparent">

                        {% for candiate in candiates %}

                          <li class="w3-bar">
                            <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">
                            </span>

                            <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right">
                                {% for key,value in averages.items %}
                                        {% if key == candiate.id %}{{ value }}{% endif %}
                                        {% endfor %}
                            </span>

                          <img src="{{ candiate.photo.url }}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                                <div class="w3-bar-item">
                                    <span class="w3-large">{{ candiate.candidate_text }}</span>
                                    <br>
                                    <br>

                                </div>
                          </li>
                      {% endfor %}


                      </ul>
           </div>








            </header>


         {% endblock %}



</html>